.care-section {
    padding: 80px 0; 
    text-align: center; 
}

.care-section__container {
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px; 
}

.care-section__title {
   
    font-weight: 600;
    color: #333;
    margin-bottom: 50px; 
    line-height: 1.2;
}

.care-section__grid {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 30px; 
    justify-items: center; 
}

.care-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    max-width: 270px; 
    width: 100%; 
}

.care-item__image-wrapper {
    width: 100%;
    padding-top: 100%; 
    position: relative; 
    overflow: hidden;
    margin-bottom: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08); 
}

.care-item__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.care-item__description {
    font-size: 1.05em;
    font-weight: 400; 
    color: #333;
    text-align: start;
    line-height: 1.4;
}

@media (min-width: 576px) {
    .care-section__grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .care-section__title {
        font-size: 2em;
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .care-section__grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    .care-section__title {
        font-size: 2.2em;
        margin-bottom: 50px;
    }
}


@media (min-width: 1024px) {
    .care-section__grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
}
@media (min-width: 1440px) {
    .care-section {
     padding-bottom: 0px;
    }
}
